<br>
<br>
<h2> Investments </h2>

<ul class="list-group">
    <% @investments.each do |i| %>
        <li class="list-group-item"><a href="/investments/<%= i.id %>">Name: <%= i.name %>Type: <%= i.kind %>Amount: $<%= i.amount %>Date: <%= i.date%>Description: <%= i.description %></a></li>
    <% end %>

</ul>
<br>
<br>

<a href="/investments/new" class="btn btn-primary">Add Investment</a>