<h2><%= @investment.name %></h2>
  <ul>
    <li>Type: <%= @investment.kind %></li>
    <li>Date: <%= @investment.date %></li>
    <li>Description: <%= @investment.description%></li>
    <li>Amount: $<%= @investment.amount %></li>
  </ul>
  <a href="/investments/<%=@investment.id%>/edit">Edit</a>
  <br>
  <form action="/investments/<%= @investment.id %>/delete" method="POST">
		<input id="hidden" type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete">
	</form>
  <br>