<br>
<br>
<h2><%= @investment.name %></h2>
  <ul class="list-group list-group">
    <li class="list-group-item">Type: <%= @investment.kind %></li>
    <li class="list-group-item">Amount: $<%= @investment.amount %></li>
    <li class="list-group-item">Date: <%= @investment.date%></li>
    <li class="list-group-item">Description: <%= @investment.description %></li>
  </ul>
  <br>
  <a href="/investments/<%=@investment.id%>/edit" class="btn btn-primary btn-sm"> Edit </a>
  <br>
  <br>
  <form action="/investments/<%= @investment.id %>/delete" method="POST">
		<input id="hidden" type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete" class="btn btn-primary btn-sm align-center">
	</form>

